.App {
  text-align: center;
}

ul {
  /* width: 80%; */
  padding: 0;
  padding: 4% 10%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

li,
img {
  width: 300px;
  height: 220px;
}

img {
  object-fit: cover;
}
