.App {
  text-align: center;
}

body {
  background: rgb(231, 221, 203);
}

h1 {
  font-size: 3em;
  margin: 0;
  padding: 40px;
  background: rgb(218, 206, 184);
  box-shadow: 0px 10px rgb(194, 184, 165), 0px 15px rgb(179, 168, 149);
}

h2 {
  font-size: 2.5em;
  color: rgb(255, 255, 255);
  width: 75%;
  /* text-shadow: 0px 0px 1px black; */
  text-decoration: underline rgb(4, 26, 56);
}

h3 {
  font-size: 1em;
  margin-left: 12px;
  margin-right: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* span {
  margin: 13px 5px 10px 0px;
  color: grey;
} */

form {
  margin-top: 25vh;
  animation: ease-in;
  transition: 0.7s;
}

input[type="text"] {
  width: 350px;
  height: 50px;
  font-size: 18px;
  padding: 6px 5px;
  background: rgb(231, 221, 203);
  border-style: none solid solid none;
  text-align: center;
  outline: none;
  animation: ease-in;
  transition: 0.7s;
}

input[type="text"]:focus {
  width: 400px;
}

.form-slide-up {
  margin-top: 7vh;
}

button {
  background: none;
  padding: 8px 12px;
  height: 64px;
  margin-left: -2px;
  border-style: solid;
  border-color: black;
  outline: none;
  cursor: pointer;
  animation: ease-in;
  transition: 0.7s;
  font-weight: bold;
}

button:hover {
  background-color: black;
  border: 2px solid black;
  color: white;
}

label {
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] ~ label {
  padding: 5px 10px;
  border-bottom: 2px solid grey;
}

input[type="checkbox"]:checked ~ label {
  border-bottom: 4px solid maroon;
}

div.checkboxes {
  display: flex;
  width: 400px;
  justify-content: center;
  margin: 0 auto;
}

.single-checkbox {
  margin: 13px 5px;
}

ul {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  padding: 4% 10%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

li {
  height: 404px;
  width: 350px;
}

.item-wrapper {
  border: 2px solid rgb(4, 26, 56);
  height: 90%;
  background: white;
  box-shadow: 10px 10px lightblue;
  transition: 0.7s;
  overflow: hidden;
}

.item-wrapper:hover {
  box-shadow: 10px 10px rgb(202, 105, 119);
}

.item-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.list-item-audio-wrapper {
  background-color: grey;
  display: flex;
  justify-content: center;
  height: 315px;
}

img.list-item-audio-play-button {
  width: 20%;
  height: 20%;
  align-self: center;
}

/* assets */

@keyframes slideright {
  0% {
    opacity: 0;
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

hr {
  margin: 0;
  height: 2px;
  border: none;
  background-color: rgb(4, 26, 56);
}

.top-blue-line {
  height: 10px;
  background: lightblue;
  top: 0;
}

.asset-image {
  width: 600px;
  margin-bottom: 150px;
  justify-self: end;
  align-self: center;
  left: 1000px;
  top: 160px;
  position: absolute;
  box-shadow: 10px 10px lightblue;
  animation: ease slideright 1s;
  animation-direction: normal;
}

.asset-header {
  width: 60%;
  text-align: left;
  padding: 23px 50px;
  align-self: center;
  color: white;
  background-color: rgb(202, 105, 119);
  animation: ease slideleft 1s;
  animation-direction: normal;
}

p {
  width: 75%;
}

.asset-page {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
}

.asset-audio-wrapper {
  width: 500px;
  height: 140px;
  position: fixed;
  left: 1030px;
  top: 245px;
  background: #f1f2f4;
  border: 2px solid rgb(4, 26, 56);
  box-shadow: 10px 10px lightblue;
  animation: ease-in slideright 1s;
  animation-direction: normal;
}

audio {
  padding: 40px 0px;
  width: 88%;
}

footer {
  position: fixed;
  padding-left: 10%;
  bottom: 0;
  height: 80px;
  width: 100%;
  background-color: #f1f2f4;
  border-top: 2px solid rgb(4, 26, 56);
  box-shadow: 0px -10px lightblue;
}

.social-button {
  width: 50px;
  height: 50px;
  border: 2px solid rgb(4, 26, 56);
  border-radius: 50%;
  float: left;
  margin: 12px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
}

.social-button:hover {
  color: white;
  background: rgb(202, 105, 119);
  border-color: rgb(202, 105, 119);
}

a {
  text-decoration: none;
  color: rgb(4, 26, 56);
}
